@tailwind base;
@tailwind components;
@tailwind utilities;

.w-1\/8 {
    width: 0.125%;
}
.w-2\/8 {
    width: 0.25%;
}
.w-3\/8 {
    width: 0.375%;
}
.w-4\/8 {
    width: 0.5%;
}
.w-5\/8 {
    width: 0.625%;
}
.w-6\/8 {
    width: 0.75%;
}
