@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-1\/8 {
    width: 12.5%;
}
.w-2\/8 {
    width: 25%;
}
.w-3\/8 {
    width: 37.5%;
}
.w-4\/8 {
    width: 50%;
}
.w-5\/8 {
    width: 62.5%;
}
.w-6\/8 {
    width: 75%;
}

.w-1\/18 {
    width: 5.55%;
}
.w-1\/18 {
    width: 5.55%;
}
.w-2\/18 {
    width: 11.11%;
}
.w-3\/18 {
    width: 16.66%;
}
.w-4\/18 {
    width: 22.22%;
}
.w-5\/18 {
    width: 27.77%;
}
.w-6\/18 {
    width: 33.33%;
}
.w-7\/18 {
    width: 38.88%;
}
.w-8\/18 {
    width: 44.44%;
}
.w-9\/18 {
    width: 50%;
}
.w-10\/18 {
    width: 55.55%;
}
.w-11\/18 {
    width: 61.11%;
}
.w-12\/18 {
    width: 66.66%;
}
.w-13\/18 {
    width: 72.22%;
}
.w-14\/18 {
    width: 77.77%;
}
.w-15\/18 {
    width: 83.33%;
}
.w-16\/18 {
    width: 88.88%;
}
.w-17\/18 {
    width: 94.44%;
}
.w-18\/18 {
    width: 100%;
}
